@import url('./coffeecup_icons.css');
@import url('./zed-backgrounds.css');

header,
main,
.sidebar,
footer {
  padding: 2em;
}

header { background: inherit; }
main { background: inherit;}


  /* ======================
    Demo stuff starts here 
    ========================*/

  body {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1.5em 1fr 1.5em;
    grid-template-areas:
      ". header ."
      ". main ."
      ". side ."
      "part1 part1 part1"
      "part2 part2 part2"
      "part3 part3 part3"
      "footer footer footer"
  }

  #pageTop {
      grid-template-columns: 1em 30px minmax(100px, 2000px) 500px 1em;
      grid-template-areas: ". logo hr navmenu ."
  }

  @media only screen and (min-width: 1080px) {
    body {
      grid-template-columns: 1.5em minmax(400px, 650px) minmax(200px, 350px) 1.5em;
      grid-template-areas:
        ". header header ."
        ". main side ."
        "part1 part1 part1 part1"
        "part2 part2 part2 part2"
        "part3 part3 part3 part3"
        "footer footer footer footer";
      gap: 10px;
      row-gap: 10px;
    }
  }

  @media only screen and (min-width: 1200px) {
    body {
      grid-template-columns: minmax(1.5em, 1fr) minmax(800px, 1200px) minmax(360px, 480px) minmax(1.5em, 1fr);
      grid-template-areas:
        ". header header ."
        ". main side ."
        "part1 part1 part1 part1"
        "part2 part2 part2 part2"
        "part3 part3 part3 part3"
        "footer footer footer footer";
      gap: 24px;
      row-gap: 24px;
    }
  }

  .test-scrollbars {
    overflow: scroll;
  }
  

  .logo {
    grid-area: logo;
    width: 80px;
  }
  .logo > img {
    height: 100%;
    width: 100%;
  }

  #ruleLine {
    grid-area: hr;
    display: inline-block;
    width: 100%;
  }

  .menu {
    grid-area: navmenu;
  }
  header   { 
    grid-column: header / header; 
  } 
  main     { grid-area: main; }
  .sidebar { grid-area: side; }
  footer   { grid-area: footer; }
  .part1   { grid-area: part1; }
  .part2   { grid-area: part2; }
  .part3   { grid-area: part3; }


  .menu {
    /* style the nav like a dialog box, but glassy */
    position: static;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 10vh;
    background: linear-gradient(to right top, rgba(24, 24, 24, 0.7), rgba(55, 55, 55, 0.25));
    z-index: 5;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .menu > ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    padding:0;
    margin:0;
    z-index: 10;
  }

  .menu-btn {
    /* style the li as buttons */
    padding:8px 16px;
    /* border-top: 1px solid #ddd; */
  }
  /* .menu > ul > li:last-child { border-bottom: none;} */

/* **************************** */

footer {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
}

.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 20px;
}

@media only screen and (min-width: 1080px) {  
  .footer-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}
.sec h2
{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}
.sec h2:before
{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #ffeb3b;
}
.sec p
{
	color: #f7f7f7;
}
.sci
{
	margin-top: 20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4,50px);		
}
.sci li
{
	list-style: none;
}
.sci li a
{
	display: inline-block;
	width: 48px;
	height: 48px;
	background: #3e56cb;
	display: grid;
	align-content: center;
	justify-content: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 4px;
}
.sci li a:hover
{
	background: #6380fe;
}
.sci li a .fa
{
	color: #fff;
	font-size: 20px;
}
.sec.quicklinks
{
	position: relative;
}
.sec.quicklinks ul li
{
	list-style: none;
}
.sec.quicklinks ul li a
{
	color: #f7f7f7;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}
.sec.quicklinks ul li a:hover
{
	color: #ffeb3b;
}
.sec.contact .info
{
	position: relative;
}
.sec.contact .info li
{
	display: grid;
    grid-template-columns: 30px 1fr;
	margin-bottom: 16px;
}
.sec.contact .info li span:nth-child(1)
{
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}
.sec.contact .info li a
{
	color: #f7f7f7;
	text-decoration: none;
}
.sec.contact .info li a:hover
{
	color: #ffeb3b;
}


.copyrightText
{
	width: 100%;
  grid-column: span 4 / auto;
	background: inherit; /* #1f3389; */
	padding: 8px 100px;
  text-align: center;
  color: var(--light);
}

.demo {
  padding: 1em;
  background-color: var(--white);
  color: var(--charcoal-dark);
}

.demo > h2 {
  color: #FFFFFF;
}
.demo > h3, .demo > p {
  color: var(--white);
}

.white-panel {
  margin: 20px;
  padding: 20px;
  background-color: var(--light);
  color: var(--dark);
}

/* ******************************* */

@media (max-width: 991px)
{
	footer
	{
		padding: 40px;
	}
	footer .footer-container
	{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 20px;
	}
	.copyrightText
	{
		padding: 5px 40px;
	}
}
@media (max-width: 768px)
{
	footer .footer-container
	{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-gap: 20px;
	}
}

/* ============================================ */
/* Neumorphic GUI Controls                      */

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #e8e8e8;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf; 
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px    100% = 16px */
  overflow-y: scroll;
  background: var(--greyLight-1); 
}
@media screen and (min-width: 900px) {
    html {
      font-size: 75%; } 
    }

.neu-container {
  /*
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  */
  font-family: 'Poppins', sans-serif;
  background: var(--greyLight-1); 
  border-radius: 3rem;
}

.neu-components {
  width: 75rem;
  height: 40rem;
  border-radius: 3rem;
  /*
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  */
  box-shadow: -20px -20px 60px rgba(0,0,0,0.55) inset, 10px 10px 20px rgba(20,20,24,0.25);
  padding: 4rem;
  display: grid;
  grid-template-columns: 17.6rem 19rem 20.4rem;
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  align-items: center; 
}

/*  SWITCH  */
.switch {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 3rem;
  justify-self: center; 
}
  .switch input {
    display: none; 
  }
  .switch__1, .switch__2 {
    width: 6rem; 
  }
    .switch__1 label, .switch__2 label {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3rem;
      box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
      background: rgba(255, 255, 255, 0);
      position: relative;
      cursor: pointer;
      border-radius: 1.6rem; 
    }
      .switch__1 label::after, .switch__2 label::after {
        content: "";
        position: absolute;
        left: .4rem;
        width: 2.1rem;
        height: 2.1rem;
        border-radius: 50%;
        background: var(--greyDark);
        transition: all .4s ease; 
      }
      .switch__1 label::before, .switch__2 label::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
        opacity: 0;
        transition: all .4s ease; 
      }
  .switch input:checked ~ label::before {
    opacity: 1; 
  }
  .switch input:checked ~ label::after {
    left: 57%;
    background: var(--greyLight-1); 
  }

/*  CHECKBOX  */
.checkbox {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 6rem);
  grid-gap: 3rem;
  justify-content: center; 
}
  .checkbox input {
    display: none; 
  }
  .checkbox__1, .checkbox__2 {
    width: 6rem;
    display: flex;
    justify-content: center; 
  }
    .checkbox__1 label, .checkbox__2 label {
      box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .5rem;
      width: 2.8rem;
      height: 2.8rem; 
    }
      .checkbox__1 label:hover i, .checkbox__2 label:hover i {
        color: var(--primary); }
      .checkbox__1 label i, .checkbox__2 label i {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--greyDark);
        transition: .3s ease; 
      }
    .checkbox__1 input:checked ~ label, .checkbox__2 input:checked ~ label {
      box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white); 
    }
      .checkbox__1 input:checked ~ label i, .checkbox__2 input:checked ~ label i {
        color: var(--primary); 
      }

/*  RADIO  */
.radio {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; 
}
  .radio input {
    display: none; 
  }
  .radio__1 input:checked ~ label, .radio__2 input:checked ~ label {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white); 
  }
    .radio__1 input:checked ~ label::after, .radio__2 input:checked ~ label::after {
      background: var(--primary); 
    }
  .radio__1 label, .radio__2 label {
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%; 
  }
    .radio__1 label:hover::after, .radio__2 label:hover::after {
      background: var(--primary); 
    }
    .radio__1 label::after, .radio__2 label::after {
      content: "";
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      background: var(--greyDark);
      border-radius: 50%;
      transition: 0.3s ease; 
    }

/*  BUTTONS  */
.btn {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease; }
  .btn__primary {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: var(--primary);
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyLight-1); }
    .btn__primary:hover {
      color: var(--white); }
    .btn__primary:active {
      box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light); }
  .btn__secondary {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    color: var(--greyDark); }
    .btn__secondary:hover {
      color: var(--primary); }
    .btn__secondary:active {
      box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white); }
  .btn p {
    font-size: 1.6rem; }

/*  CLOCK  */
.clock {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 12rem;
  height: 12rem;
  justify-self: center;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .clock .hand {
    position: absolute;
    transform-origin: bottom;
    bottom: 6rem;
    border-radius: .2rem;
    z-index: 200; }
  .clock .hours {
    width: .4rem;
    height: 3.2rem;
    background: var(--greyLight-3); }
  .clock .minutes {
    width: .4rem;
    height: 4.6rem;
    background: var(--greyDark); }
  .clock .seconds {
    width: .2rem;
    height: 5.2rem;
    background: var(--primary); }
  .clock .point {
    position: absolute;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: var(--primary);
    z-index: 300; }
  .clock .marker {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white); }
    .clock .marker::after {
      content: '';
      width: 60%;
      height: 60%;
      position: absolute;
      box-shadow: inset 1px 1px 1px var(--greyLight-2), inset -1px -1px 1px var(--white);
      border-radius: 50%;
      top: 20%;
      left: 20%;
      filter: blur(1px); }
    .clock .marker__1, .clock .marker__2, .clock .marker__3, .clock .marker__4 {
      position: absolute;
      border-radius: .1rem;
      box-shadow: inset 1px 1px 1px var(--greyLight-2), inset -1px -1px 1px var(--white); }
    .clock .marker__1, .clock .marker__2 {
      width: .2rem;
      height: .6rem;
      left: 5.6rem; }
    .clock .marker__3, .clock .marker__4 {
      width: .6rem;
      height: .2rem;
      top: 5.6rem; }
    .clock .marker__1 {
      top: 2%; }
    .clock .marker__2 {
      top: 98%;
      transform: translateY(-0.6rem); }
    .clock .marker__3 {
      left: 2%; }
    .clock .marker__4 {
      left: 98%;
      transform: translateX(-0.6rem); }

/*  CHIP  */
.chip {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  width: 17rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .chip__icon {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    margin: 0 0 0 .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--primary); }
  .chip p {
    font-size: .9rem;
    margin-left: -1.8rem;
    color: var(--greyDark); }
  .chip__close {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 .5rem;
    display: flex;
    font-size: 1.6rem;
    color: var(--greyLight-3);
    cursor: pointer; }

/*  PLAY BUTTON  */
.circle {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
  width: 9rem;
  height: 100%;
  justify-self: center;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center; }
  .circle__btn {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 6rem;
    height: 6rem;
    display: flex;
    margin: .6rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 3.2rem;
    color: var(--primary);
    z-index: 300;
    background: var(--greyLight-1);
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    cursor: pointer;
    position: relative; }
    .circle__btn.shadow {
      box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white); }
    .circle__btn .play {
      position: absolute;
      opacity: 0;
      transition: all .2s linear; }
      .circle__btn .play.visibility {
        opacity: 1; }
    .circle__btn .pause {
      position: absolute;
      transition: all .2s linear; }
      .circle__btn .pause.visibility {
        opacity: 0; }
  .circle__back-1, .circle__back-2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    filter: blur(1px);
    z-index: 100; }
  .circle__back-1 {
    box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
    background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
    animation: waves 4s linear infinite; }
    .circle__back-1.paused {
      animation-play-state: paused; }
  .circle__back-2 {
    box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
    animation: waves 4s linear 2s infinite; }
    .circle__back-2.paused {
      animation-play-state: paused; }

/*  FORM  */
.form {
  grid-column: 3 / 4;
  grid-row: 3 / 4; }
  .form__input {
    width: 20.4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark); }
    .form__input::placeholder {
      color: var(--greyLight-3); }
    .form__input:focus {
      outline: none;
      box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white); }

/*  SEARCH  */
.search {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  align-items: center; }
  .search__input {
    width: 20.4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 3.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark); }
    .search__input::placeholder {
      color: var(--greyLight-3); }
    .search__input:focus {
      outline: none;
      box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white); }
      .search__input:focus + .search__icon {
        color: var(--primary); }
  .search__icon {
    height: 2rem;
    position: absolute;
    font-size: 2rem;
    padding: 0 1rem;
    display: flex;
    color: var(--greyDark);
    transition: .3s ease; }

/*  SEGMENTED-CONTROL */
.segmented-control {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 20.4rem;
  height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative; }
  .segmented-control input {
    display: none; }
  .segmented-control > input:checked + label {
    transition: all .5s ease;
    color: var(--primary); }
  .segmented-control__1, .segmented-control__2, .segmented-control__3 {
    width: 6.8rem;
    height: 3.6rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--greyDark);
    transition: all .5s ease; }
    .segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover {
      color: var(--primary); }
  .segmented-control__color {
    position: absolute;
    height: 3.4rem;
    width: 6.2rem;
    margin-left: .3rem;
    border-radius: .8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    pointer-events: none; }

#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

#tab-2:checked ~ .segmented-control__color {
  transform: translateX(6.8rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

#tab-3:checked ~ .segmented-control__color {
  transform: translateX(13.6rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

/*  ICONS  */
.icon {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  display: flex;
  justify-content: space-between; }
  .icon__account, .icon__home, .icon__settings {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--greyDark);
    transition: all .5s ease; }
    .icon__account:active, .icon__home:active, .icon__settings:active {
      box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
      color: var(--primary); }
    .icon__account:hover, .icon__home:hover, .icon__settings:hover {
      color: var(--primary); }

/*  RANGE-SLIDER  */
.slider {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  align-self: center;
  display: flex;
  flex-direction: column; }
  .slider__box {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .slider__btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--white);
    position: absolute;
    box-shadow: 0px 0.1rem 0.3rem 0px var(--greyLight-3);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center; }
    .slider__btn:hover ~ .slider__tooltip {
      opacity: 1; }
    .slider__btn::after {
      content: '';
      position: absolute;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white); }
  .slider__color {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: 100;
    border-radius: inherit;
    background: var(--primary);
    background: linear-gradient(-1deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%); }
  .slider__tooltip {
    position: absolute;
    top: 2.6rem;
    height: 2.5rem;
    width: 3rem;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--primary);
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    opacity: 0;
    transition: opacity .3s ease; }

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }
.dribbble {
  position: fixed;
  font-size: 2.6rem;
  right: 2rem;
  bottom: 1rem;
  color: #EA4C89; 
}