@import url('./zed-color.css');

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--dark);
  color: var(--light);
}

.plain-card
{
  position: relative;
  width: 300px;
  height: 400px;
  background: var(--dark);
  border-radius: 40px;
  box-shadow:  inset 5px 5px 15px rgba(0,0,0,0.15),
  inset -5px -5px 15px rgba(255,255,255,0.15),
  5px 5px 15px rgba(0,0,0,0.15),
  -5px -5px 15px rgba(255,255,255,0.15);
}
.plain-card::before 
{
  content: '';
  position: absolute;
  inset: 5px;
  background: var(--dim);
  border-radius: 35px;
  transition: 0.5s;
}
.plain-card:hover::before 
{
  transform: translate(40px,-40px);
  box-shadow: -30px 30px 50px rgba(0,0,0,0.25);
}