

.z-flex {
    display: flex;
    flex: 1 1 100%;
}

.z-hbox, .z-vbox, header, footer, main {
    /* */
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    flex: 1 1 100%;
}
.z-vbox, main {flex-direction: column;}
.z-hbox *, .z-vbox *, main * {flex-wrap: nowrap;}
.z-wrap {flex-wrap: wrap;}

.z-flex-basis-10 {flex-basis: 10%; flex-grow: 1; flex-shrink: 1;}
.z-flex-basis-25 {flex-basis: 25%; flex-grow: 1; flex-shrink: 1;}
.z-flex-basis-30 {flex-basis: 30%; flex-grow: 1; flex-shrink: 1;}
.z-flex-basis-35 {flex-basis: 35%; flex-grow: 1; flex-shrink: 1;}
.z-flex-basis-50 {flex-basis: 50%; flex-grow: 1; flex-shrink: 1;}

.z-flex-align-self-center, .z-flex-center {align-self: center;}
.z-flex-align-self-start, .z-flex-start {align-self: flex-start;}
.z-flex-align-self-end, .z-flex-end {align-self: flex-end;}
.z-flex-align-self-stretch, .z-flex-stretch {align-self: stretch;}


.z-basic-grid {
    display: grid;
    gap: 1rem;

    /* 1 too skinny, too much code */
    grid-template-columns: 1fr 2fr 3fr 3fr 2fr 1fr;

    /* 2 cleaner code */
    /* grid-template-columns: repeat(12, 1fr); */

    /* 3  better sizing, but overflows */
    /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */

    /* 4 final */
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.z-photo-grid, .z-masonry-grid {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(320px, 25%));
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 320px;
}


/* CSS Grid: */

.z-basic-grid {
    display: grid;
    gap: 1rem;

    /* 1 too skinny, too much code */
    grid-template-columns: 1fr 2fr 3fr 3fr 2fr 1fr;

    /* 2 cleaner code */
    /* grid-template-columns: repeat(12, 1fr); */

    /* 3  better sizing, but overflows */
    /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */

    /* 4 final */
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

@media (min-width:993px){
    .z-basic-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 2fr 3fr 3fr 2fr 1fr;
    }
}

.z-grid { /* very small screens */
    display: grid;
    gap: 1rem;
    /*
    grid-template-columns: repeat(auto-fit, minmax(320px, 25%));
    grid-template-columns: repeat(6, 1fr);
    */
    grid-template-columns: 1fr;
    align-items: flex-start;
    
}

/* Minimal screens */
@media screen and (min-width: 600px) {
    .z-grid {
        grid-template-columns: 1fr 1fr;
    }
    .z-card-tall {
        grid-row: span 2 / auto;
    }

    .z-card-wide {
        grid-column: span 2 / auto;
    }

    .z-card-row {
        grid-column: span 4 / auto;
    }
}



.z-gridbox {
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 20px;

    /* Mobile First: */
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "h h h h h h"
    "m m m m m m"
    "s s s s s s"
    "f f f f f f";
}

.z-gridbox-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 3rem;*/
    font-size: large;
    color: #353535;
    background: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    /* height: 100%; */
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow:visible; /* was hidden */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.z-gridbox-content:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.z-gridbox-content {
    border-style: groove;
    border-width: 4px;
    border-color: silver;
    border-radius: 8px;
    /*
    color: antiquewhite;
    color:rgb(25, 25, 112);
    */
    /* background-image: url('../img/paper-1074131_1920.jpg'); */
    /* opacity: 0.3 */
    opacity: 0.5;
}
.z-gridbox > .box-1 {
    grid-area: h;
}
.z-gridbox > .box-2 {
    grid-area: b;
}
.z-gridbox > .box-3 {
    grid-area: m;
}
.z-gridbox > .box-4 {
    grid-area: s;
}
.z-gridbox > .box-5 {
    grid-area: f;
}

@media (min-width: 768px) {
    .z-grid {
        position: relative;
        grid-template-columns: repeat(auto-fit, minmax(256px, 33%));
    }
    .z-gridbox {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "b b b b b b b b s s s s"
        "f f f f f f f f f f f f";
    }
    .z-gridbox > .box-1 {
        grid-area: h;
        min-height: 250px;
    }
    .z-gridbox > .box-2 {
        grid-area: b;
        min-height: 250px;
    }
    .z-gridbox > .box-3 {
        grid-area: m;
        min-height: 250px;
    }
    .z-gridbox > .box-4 {
        grid-area: s;
        min-height: 250px;
    }
    .z-gridbox > .box-5 {
        grid-area: f;
        min-height: 250px;
    }    
}
@media (min-width: 1024px) {
    .z-grid {
        position: relative;
        grid-template-columns: repeat(auto-fit, minmax(256px, 25%));
    }

    .z-gridbox {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "b b b b b b b s s s s s"
        "f f f f f f f f f f f f";
    }
    .z-gridbox > .box-1 {
        grid-area: h;
        min-height: 250px;
    }
    .z-gridbox > .box-2 {
        grid-area: b;
        min-height: 250px;
    }
    .z-gridbox > .box-3 {
        grid-area: m;
        min-height: 250px;
    }
    .z-gridbox > .box-4 {
        grid-area: s;
        min-height: 250px;
    }
    .z-gridbox > .box-5 {
        grid-area: f;
        min-height: 250px;
    }    
}

.z-gridbox-content{
    cursor: pointer;
    height: 210px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;

    color: #000;
}
.z-gridbox-content:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

/* Medium screens */
@media screen and (min-width: 600px) {
    .z-card-tall {
        grid-row: span 2 / auto;
    }

    .z-card-wide {
        grid-column: span 2 / auto;
    }
}

.z-col-container {
    /*
    height: 90vh;
    width: 90%;
    */
    margin: 20px auto;

    display: grid;
    gap: 20px;

    /* Mobile First: */
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "h h h h h h"
    "m m m m m m"
    "s s s s s s"
    "f f f f f f";
}

.z-col-content {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 3rem;*/
    font-size: large;
    font-family: 'Ubuntu', sans-serif;

    color: #353535;
    background: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border-radius: 4px;
    /* height: 100%; */
    width: 100%;
    
    transition: all 500ms;
    overflow:visible; /* was hidden */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.z-col-content * {flex-wrap: wrap;}

.z-col-content:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.z-col-content {
    border-style: groove;
    border-width: 4px;
    border-color: antiquewhite;
    border-radius: 8px;
    color: antiquewhite;
    color:charcoal;
    background-image: url('../img/paper-1074131_1920.jpg');
    /* opacity: 0.3 */
    opacity: 0.7;
}
.z-col-container > .box-head {
    grid-area: h;
}
.z-col-container > .box-blog {
    grid-area: b;
}
.z-col-container > .box-main {
    grid-area: m;
}
.z-col-container > .box-side {
    grid-area: s;
}
.z-col-container > .box-foot {
    grid-area: f;
}

@media (min-width: 768px) {
    .z-col-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "b b b b b b b b s s s s"
        "f f f f f f f f f f f f";
    }
    .z-col-container > .box-1 {
        grid-area: h;
        min-height: 250px;
    }
    .z-col-container > .box-2 {
        grid-area: b;
        min-height: 250px;
    }
    .z-col-container > .box-3 {
        grid-area: m;
        min-height: 250px;
    }
    .z-col-container > .box-4 {
        grid-area: s;
        min-height: 250px;
    }
    .z-col-container > .box-5 {
        grid-area: f;
        min-height: 250px;
    }    
}
@media (min-width: 980px) {
    .z-col-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "b b b b b b b s s s s s"
        "f f f f f f f f f f f f";
    }
    .z-col-container > .box-1 {
        grid-area: h;
        min-height: 250px;
    }
    .z-col-container > .box-2 {
        grid-area: b;
        min-height: 250px;
    }
    .z-col-container > .box-3 {
        grid-area: m;
        min-height: 250px;
    }
    .z-col-container > .box-4 {
        grid-area: s;
        min-height: 250px;
    }
    .z-col-container > .box-5 {
        grid-area: f;
        min-height: 250px;
    }    
}

/*
.gridbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.gridbox > div {
    cursor: pointer;
    height: 210px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;

    color: #000;
}
.gridbox > div:nth-of-type(1){
    grid-column: 1 / 3;
}
.gridbox > div:nth-of-type(6){
    grid-column: 3 / 5;
}
.gridbox > div:nth-of-type(9){
    grid-column: 3 / 5;
}
.gridbox > div:nth-of-type(10){
    grid-column: 1 / 3;
}

.gridbox>div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}
*/
